:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
  }
}

/* FONT IMPORTS */
@font-face {
  /* font-family: "Inter-Bold"; */
  /* src: url(/fonts/Inter-Bold.woff2); */
  /* font-display: swap; */
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  box-sizing: border-box;
  max-width: var(--max-width);
  overflow-x: hidden;
  margin-inline: auto;
  font-size: 62.5%;
}

.max-w {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: clamp(3.5rem, 1.2vw, 5rem);
}

body {
  /* padding-inline: 4.5rem; */
  font-size: 1.4rem;
  background-color: #151515;
  color: #fff;
}

::selection {
  background: #000;
}

/* FONT DEFAULTS */
h1 {
  /* font-family: "Inter-Bold", sans-serif; */
  font-weight: 100;
  font-size: clamp(4rem, 8vw, 15rem);
}

h2 {
  font-weight: 100;
  font-size: 4.8rem;
}

h3 {
  font-weight: 100;
  font-size: 3.6rem;
}

h4 {
  font-weight: 100;
  font-size: 2.8rem;
}

h5 {
  font-weight: 100;
  font-size: 2rem;
}

h6 {
  font-weight: 100;
  font-size: 1.6rem;
  letter-spacing: 0.25px;
}

p {
  /* font-family: "Kanit-Light", sans-serif; */
  font-weight: 100;
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  letter-spacing: 0.35px;
}

li {
  /* font-family: "FiraSans-Bold", sans-serif; */
  font-size: 1.8rem;
  letter-spacing: 0.4px;
  text-decoration: none;
  /* text-transform: uppercase; */
  list-style: none;
}

a {
  /* font-family: "FiraSans-Medium", sans-serif; */
  font-size: 1.8rem;
  letter-spacing: 0.4px;
  text-decoration: none;
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
