@import "./variables.module.scss";

.main {
  section {
    background-color: #fff;
  }

  // SHOWCASE CAROUSEL
  section#showcase {
    margin-top: 7rem;
    background-color: $color-grey;
    .swiper_container {
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide {
      width: 100%;
      height: 625px;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: grab;

      &:nth-child(1) {
        background-image: url("/images/homepage/showcase_carousel/showcase_g70.jpg");
      }
      &:nth-child(2) {
        background-image: url("/images/homepage/showcase_carousel/showcase_g80.jpg");
      }
      &:nth-child(3) {
        background-image: url("/images/homepage/showcase_carousel/showcase_g90.jpg");
      }
      &:nth-child(4) {
        background-image: url("/images/homepage/showcase_carousel/showcase_gv70.jpg");
      }
      &:nth-child(5) {
        background-image: url("/images/homepage/showcase_carousel/showcase_gv80.jpg");
      }

      .swiper_content {
        margin-left: 3rem;
        position: absolute;
        // bottom: 0;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 2;
        padding-inline: 2.5rem;
        padding-block: 3.5rem;
        h5.model_year {
          font-family: "Jost-Light", sans-serif;
          font-size: 2rem;
          color: $color-white;
        }
        h2.model_title {
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          color: $color-white;
          font-size: 4.2rem;
        }
        h4.model_caption {
          color: $color-white;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.55px;
        }
        a.discover_box {
          display: flex;
          align-items: center;
          margin-top: 3rem;
          span.link_text {
            display: inline-block;
            font-size: 1.4rem;
            color: #fff;
            text-transform: uppercase;
            font-family: "Roboto-Regular", sans-serif;
            letter-spacing: 1px;
          }
          img.model_link_chevron {
            margin-left: 7px;
            transform: rotate(-90deg);
            height: 8.5px;
          }
        }
      }
    }

    .swiper_container_mobile {
      display: none;
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide_mobile {
      display: none;
    }
  }

  // GENESIS COLLECTION
  section#featured_models {
    padding-top: clamp(6.5rem, 9.5vw, 7.5rem);
    padding-bottom: clamp(9rem, 12vw, 10rem);
    padding-inline: 2.5rem;
    background-color: $color-white;
    h2.discover_title {
      font-size: 2.4rem;
      color: $color-black;
      text-transform: uppercase;
      font-family: "Jost-Light", sans-serif;
      text-align: center;
      letter-spacing: 0.55px;
    }

    .featured_grid {
      margin-top: 6.5rem;
      max-width: 1200px;
      margin-inline: auto;
      display: grid;
      place-content: center;
      grid-template-columns: repeat(auto-fit, minmax(315px, 355px));
      column-gap: 3rem;
      row-gap: 5.5rem;
      .featured_card {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          border-radius: 8.5px;
        }
        h3.featured_model_title {
          margin-top: 2rem;
          color: $color-brass;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.15px;
        }
        p.featured_model_description {
          margin-top: 0.7rem;
          color: $color-grey-body;
          font-size: 1.45rem;
          line-height: 1.6;
          font-family: "Roboto-Regular", sans-serif;
          // text-align: justify;
        }
        a.featured_model_link {
          margin-top: 2rem;
          display: inline-block;
          font-size: 1.4rem;
          color: $color-grey-body;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          position: relative;
          letter-spacing: 1px;

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            background-color: $color-grey-body;
            width: 100%;
            height: 1px;
          }
        }
      }
    }
  }

  // OUR MODELS
  section#models {
    .models_grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      // column-gap: 3.5rem;
      align-items: center;
      .models_header {
        background-color: $color-grey;
        padding-block: clamp(12rem, 8.5vw, 20rem);
        padding-right: 4.5rem;
        padding-left: 2.5rem;
        h2.models_title {
          color: $color-white;
          font-size: clamp(3.2rem, 5vw, 4.2rem);
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
        }
        p.models_description {
          color: #ccc;
          font-family: "Roboto-Regular", sans-serif;
        }
      }
      .models_cards_container {
        overflow-x: hidden;
        width: auto;
        .swiper_models_container {
          width: 100%;
          height: auto;
          .model_slide {
            width: 100%;
            height: auto;
            a.nav_dialog_card {
              cursor: grab;
              width: 100%;
              height: auto;
              .model_content {
                img.card_model_image {
                  width: 100%;
                  height: auto;
                  // display: block;
                  // margin-inline: auto;
                }
                span.car_year {
                  font-size: 1.3rem;
                  color: $color-silver;
                  font-family: "Jost-Regular", sans-serif;
                  display: block;
                }
                h3.car_model_name {
                  font-size: clamp(2.8rem, 7vw, 3.6rem);
                  color: $color-grey-body;
                  font-family: "Jost-Light", sans-serif;
                }
                p.car_model_price {
                  margin-top: 0.35rem;
                  font-family: "Jost-Regular", sans-serif;
                  font-size: 1.6rem;
                  color: $color-grey-body;
                  letter-spacing: 1px;
                  span {
                    position: relative;

                    &::after {
                      content: "";
                      position: absolute;
                      bottom: 1px;
                      left: 0;
                      right: 0;
                      background-color: $color-grey-body;
                      width: 100%;
                      height: 1px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // AWARDED MODELS
  section#awards {
    padding-block: clamp(9rem, 12vw, 12rem);

    .tab_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;
      .tab_content {
        order: 2;
        h2.electrification_title {
          margin-bottom: 4rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
      }
      .tab_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img.accordion_image {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
          &[value="item1"] {
            object-position: left center;
          }
        }
      }
    }
  }
  section#awards_mobile {
    display: none;
  }

  // VIDEO - GV70
  section#featured_video {
    height: 500px;
    width: auto;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  // ELECTRIFY EVERY DRIVE
  section#electrification {
    padding-top: clamp(9rem, 12vw, 12rem);
    padding-bottom: 3.5rem;

    .tab_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;
      .tab_content {
        h2.electrification_title {
          margin-bottom: 4rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
      }
      .tab_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img.accordion_image {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
          &[value="item1"] {
            object-position: left center;
          }
        }
      }
    }
  }
  // ELECTRIFY EVERY DRIVE - MOBILE
  section#electrification_mobile {
    display: none;
  }

  // FACETS OF GENESIS
  section#facets {
    padding-top: clamp(5.5rem, 7vw, 7.5rem);
    padding-bottom: 9rem;
    padding-inline: 2.5rem;
    background-color: $color-white;
    h2.facets_title {
      font-size: 2.4rem;
      color: $color-black;
      text-transform: uppercase;
      font-family: "Jost-Light", sans-serif;
      text-align: center;
      letter-spacing: 0.55px;
    }

    .facets_grid {
      margin-top: clamp(5rem, 6vw, 6.5rem);
      max-width: 1200px;
      margin-inline: auto;
      display: grid;
      place-content: center;
      grid-template-columns: repeat(auto-fit, minmax(315px, 355px));
      column-gap: 3rem;
      row-gap: 5.5rem;
      .facets_card {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          border-radius: 8.5px;
        }
        h3.facets_model_title {
          margin-top: 2rem;
          color: $color-brass;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.15px;
        }
        p.facets_model_description {
          margin-top: 0.7rem;
          color: $color-grey-body;
          font-size: 1.45rem;
          line-height: 1.6;
          font-family: "Roboto-Regular", sans-serif;
          text-align: justify;
        }
        a.facets_model_link {
          margin-top: 2rem;
          display: inline-block;
          font-size: 1.4rem;
          color: $color-grey-body;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          position: relative;
          letter-spacing: 1px;

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            background-color: $color-grey-body;
            width: 100%;
            height: 1px;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1024px) {
  .main {
    section#electrification {
      .tab_container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        padding-left: 2.5rem;
        .tab_image_box {
          width: 100%;
          img.accordion_image {
            // max-width: 800px;
            max-width: 85%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 965px) {
  .main {
    section#models {
      .models_grid {
        .models_header {
          p.models_description {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  // Shifting Slide content to the top left corner
  .main {
    section#showcase {
      .swiper_slide {
        .swiper_content {
          margin-left: 3rem;
          bottom: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .main {
    section#awards {
      display: none;
    }
    section#awards_mobile {
      display: block;
      padding-top: clamp(3rem, 9vw, 7rem);
      padding-bottom: 4rem;
      .tab_container_mobile {
        h2.electrification_title {
          margin-bottom: 1.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-black;
          text-align: center;
        }

        #accordion_container_mobile {
          border-bottom: 1px solid rgba(77, 77, 77, 0.25);
        }
      }
    }
    section#electrification {
      display: none;
    }
    section#electrification_mobile {
      display: block;
      padding-top: clamp(4.5rem, 7.5vw, 7rem);
      padding-bottom: 2rem;

      .tab_container_mobile {
        h2.electrification_title {
          margin-bottom: 4rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-black;
          text-align: center;
        }

        #accordion_container_mobile {
          border-bottom: 1px solid rgba(77, 77, 77, 0.25);
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  main.main {
    section#showcase {
      margin-top: 0;
      .swiper_container {
        display: none;
      }
      .swiper_container_mobile {
        display: block;
        .swiper_slide_mobile {
          display: block;
          width: 100%;
          height: 625px;
          position: relative;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: grab;

          &:nth-child(1) {
            background-image: url("/images/homepage/showcase_carousel/showcase_g70-mobile.jpg");
          }
          &:nth-child(2) {
            background-image: url("/images/homepage/showcase_carousel/showcase_g80-mobile.jpg");
          }
          &:nth-child(3) {
            background-image: url("/images/homepage/showcase_carousel/showcase_g90-mobile.jpg");
          }
          &:nth-child(4) {
            background-image: url("/images/homepage/showcase_carousel/showcase_gv70-mobile.jpg");
          }
          &:nth-child(5) {
            background-image: url("/images/homepage/showcase_carousel/showcase_gv80-mobile.jpg");
          }

          .swiper_content {
            padding-inline: 2rem;
            margin-left: 0;
            position: absolute;
            bottom: unset;
            top: 4rem;
            // transform: translateY(50%);
            z-index: 2;
            // h5.model_year {
            //   font-family: "Jost-Light", sans-serif;
            //   font-size: 2rem;
            //   color: $color-white;
            // }
            h2.model_title {
              text-transform: uppercase;
              font-family: "Jost-Light", sans-serif;
              color: $color-white;
              font-size: 3.6rem;
            }
            h4.model_caption {
              color: $color-white;
              font-family: "Jost-Light", sans-serif;
              font-size: 1.6rem;
              text-transform: uppercase;
              letter-spacing: 0.55px;
            }
            a.discover_box {
              display: flex;
              align-items: center;
              margin-top: 3rem;
              span.link_text {
                display: inline-block;
                font-size: 1.4rem;
                color: #fff;
                text-transform: uppercase;
                font-family: "Roboto-Regular", sans-serif;
                letter-spacing: 1px;
              }
              img.model_link_chevron {
                margin-left: 7px;
                transform: rotate(-90deg);
                height: 8.5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  main.main {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 500px) {
  main.main {
    section#featured_video {
      height: 240px;
    }
    section#models {
      padding-bottom: 6rem;
      .models_grid {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
        .models_header {
          padding-block: 5rem;
          h2.models_title,
          p.models_description {
            text-align: center;
          }
        }
        .models_cards_container
          .swiper_models_container
          .model_slide
          a.nav_dialog_card
          .model_content {
          span.car_year,
          h3.car_model_name {
            text-align: center;
          }
        }
      }
    }
  }
}
