header#header_mobile {
  background-color: #111111;
  padding-inline: 2rem;
  height: 6rem;
  border-bottom: 1px solid #1e1e1e;
  nav.nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img.nav_mobile_logo {
    }
    img.nav_mobile_menu_icon {
      padding: 2rem 0.5rem 2rem 2rem;
    }
  }
}

// CLOSE NAV-MOBILE @ >=720px
@media screen and (min-width: 721px) {
  header#header_mobile {
    display: none;
  }
}
