@import "./variables.module.scss";

header#header_mobile {
  background-color: #111111;
  height: 6rem;
  border-bottom: 1px solid #1e1e1e;
  nav.nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a.logo_link {
      padding-left: 2.5rem;
      img.nav_mobile_logo {
      }
    }
    img.nav_mobile_menu_icon {
      padding: 2rem 2.5rem 2rem 2rem;
      cursor: pointer;
    }
  }

  // MAIN OVERLAY
  .nav_mobile_main_overlay {
    width: 100vw;
    position: fixed;
    z-index: 1;
    height: calc(100vh - 6rem);
    background-color: #111;
    border-top: 1px solid #1e1e1e;

    ul.main_link_list {
      height: calc(100vh - 6rem);
      padding-top: 3.2rem;
      padding-inline: 2.5rem;
      position: relative;
      li.main_link_list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #1e1e1e;
        button.list_item_btn {
          padding-block: 1.9rem;
          background-color: transparent;
          border: none;
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
          cursor: pointer;
        }
        a.list_item_link {
          padding-block: 1.9rem;
          width: 100%;
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
          cursor: pointer;
        }
        img.chevron_icon {
          transform: rotate(-90deg);
        }
      }
      // MODELS OVERLAY
      .nav_models_overlay {
        background-color: #fff;
        // width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        // z-index: 10;
        overflow-y: scroll;
        // display: none;

        button.main_return_btn {
          position: sticky;
          top: 0;
          padding-block: 1.9rem;
          border-top: 1px solid #1e1e1e;
          padding-inline: 2.5rem;
          background-color: #111;
          width: 100%;
          border: none;
          display: flex;
          align-items: center;
          cursor: pointer;
          img.chevron_icon {
            transform: rotate(90deg);
            margin-right: 1rem;
          }
          span {
            color: $color-white;
            text-transform: uppercase;
            font-family: "Jost-Regular", sans-serif;
            font-size: 1.6rem;
            letter-spacing: 0.55px;
          }
        }

        .models_container {
          padding-top: 3rem;
          padding-bottom: 6rem;
          padding-inline: 3rem;
          display: grid;
          justify-content: center;
          grid-template-columns: 330px;
          place-items: center;
          row-gap: 4.8rem;
          a.model_card {
            max-width: 330px;

            &:last-child {
              margin-bottom: 6rem;
            }
            img.model_card_image {
              width: 100%;
            }
            .model_content {
              span.car_year {
                font-size: 1.3rem;
                color: #6f6f6f;
                font-family: "Jost-Regular", sans-serif;
                display: block;
              }
              h3.car_model_name {
                font-size: 3.6rem;
                color: #141414;
                font-family: "Jost-Light", sans-serif;
              }
              p.car_model_price {
                margin-top: 0.35rem;
                font-family: "Jost-Regular", sans-serif;
                font-size: 1.6rem;
                color: #141414;
                letter-spacing: 1px;
                span {
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    right: 0;
                    background-color: #141414;
                    width: 100%;
                    height: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }

    // MODELS OVERLAY
    // .nav_models_overlay {
    //   background-color: #fff;
    //   width: 100vw;
    //   position: fixed;
    //   z-index: 10;
    //   overflow-y: scroll;
    //   height: 100%;
    //   display: none;

    //   button.main_return_btn {
    //     position: sticky;
    //     top: 0;
    //     padding-block: 1.9rem;
    //     border-top: 1px solid #1e1e1e;
    //     padding-inline: 2.5rem;
    //     background-color: #111;
    //     width: 100%;
    //     border: none;
    //     display: flex;
    //     align-items: center;
    //     cursor: pointer;
    //     img.chevron_icon {
    //       transform: rotate(90deg);
    //       margin-right: 1rem;
    //     }
    //     span {
    //       color: $color-white;
    //       text-transform: uppercase;
    //       font-family: "Jost-Regular", sans-serif;
    //       font-size: 1.6rem;
    //       letter-spacing: 0.55px;
    //     }
    //   }

    //   .models_container {
    //     padding-top: 3rem;
    //     padding-bottom: 6rem;
    //     padding-inline: 3rem;
    //     display: grid;
    //     justify-content: center;
    //     grid-template-columns: 330px;
    //     place-items: center;
    //     row-gap: 4.8rem;
    //     a.model_card {
    //       max-width: 330px;

    //       &:last-child {
    //         margin-bottom: 6rem;
    //       }
    //       img.model_card_image {
    //         width: 100%;
    //       }
    //       .model_content {
    //         span.car_year {
    //           font-size: 1.3rem;
    //           color: #6f6f6f;
    //           font-family: "Jost-Regular", sans-serif;
    //           display: block;
    //         }
    //         h3.car_model_name {
    //           font-size: 3.6rem;
    //           color: #141414;
    //           font-family: "Jost-Light", sans-serif;
    //         }
    //         p.car_model_price {
    //           margin-top: 0.35rem;
    //           font-family: "Jost-Regular", sans-serif;
    //           font-size: 1.6rem;
    //           color: #141414;
    //           letter-spacing: 1px;
    //           span {
    //             position: relative;
    //             &::after {
    //               content: "";
    //               position: absolute;
    //               bottom: 1px;
    //               left: 0;
    //               right: 0;
    //               background-color: #141414;
    //               width: 100%;
    //               height: 1px;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    // SHOP OVERLAY
    .nav_shop_overlay {
      background-color: #fff;
      width: 100vw;
      position: fixed;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      display: none;

      button.main_return_btn {
        position: sticky;
        top: 0;
        padding-block: 1.9rem;
        border-top: 1px solid #1e1e1e;
        padding-inline: 2.5rem;
        background-color: #111;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        img.chevron_icon {
          transform: rotate(90deg);
          margin-right: 1rem;
        }
        span {
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
        }
      }

      .nav_dialog_grid {
        display: grid;
        grid-template-columns: 100vw;
        height: 100%;

        .shop_tools,
        .shop_offers {
          padding-left: 2.5rem;
          padding-block: 6rem;
          h3.shop_title,
          h3.offers_title {
            font-family: "Jost-Regular", sans-serif;
            text-transform: uppercase;
            font-size: 2.6rem;
            color: $color-grey-body;
          }
          ul.shop_list_grid,
          ul.offers_list {
            margin-top: 4.2rem;

            li.shop_list_item,
            li.offers_list_item {
              font-family: "Jost-Regular", sans-serif;
              display: flex;
              align-items: center;
              margin-bottom: 3rem;

              a {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                color: $color-grey-body;
                letter-spacing: -0.05px;
                img {
                  margin-right: 1.5rem;
                }
              }
            }
          }
        }
        .shop_tools {
          width: 100%;
          ul.shop_list_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        .shop_offers {
          width: 100%;
          background-color: #f8f8f8;

          ul.offers_list {
            margin-bottom: 10rem;
          }
        }
      }
    }

    // BRAND OVERLAY
    .nav_brand_overlay {
      background-color: #fff;
      width: 100vw;
      position: fixed;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      display: none;

      button.main_return_btn {
        position: sticky;
        top: 0;
        padding-block: 1.9rem;
        border-top: 1px solid #1e1e1e;
        padding-inline: 2.5rem;
        background-color: #111;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        img.chevron_icon {
          transform: rotate(90deg);
          margin-right: 1rem;
        }
        span {
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
        }
      }

      .nav_dialog_grid {
        padding-block: 6.5rem;
        display: grid;
        grid-template-columns: 325px;
        justify-content: center;
        row-gap: 4.5rem;
        .brand_card {
          img.brand_image {
            border-radius: 7px;
          }
          h3.brand_card_title {
            margin-top: 2rem;
            font-size: 3.2rem;
            color: $color-grey-body;
            font-family: "Jost-Light", sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
          }

          &:last-child {
            margin-bottom: 9rem;
          }
        }
      }
    }
  }
}

// CLOSE NAV-MOBILE @ >=720px
@media screen and (min-width: 721px) {
  header#header_mobile {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  header#header_mobile {
    .nav_mobile_main_overlay {
      .nav_shop_overlay {
        .nav_dialog_grid {
          .shop_tools {
            ul.shop_list_grid {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}
