@import "./variables.module.scss";

header#header_mobile {
  background-color: #111111;
  height: 6rem;
  border-bottom: 1px solid #1e1e1e;
  nav.nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    a.logo_link {
      padding-left: 2.5rem;
      img.nav_mobile_logo {
      }
    }
    img.nav_mobile_menu_icon {
      padding: 2rem 2.5rem 2rem 2rem;
      cursor: pointer;
    }
  }

  // MAIN OVERLAY
  .nav_mobile_main_overlay {
    width: 100vw;
    position: fixed;
    overflow-y: scroll;
    height: calc(100vh - 6rem);
    background-color: #111;
    border-top: 1px solid #1e1e1e;
    // display: none;

    ul.main_link_list {
      display: none;
      padding-top: 3.2rem;
      padding-inline: 2.5rem;
      li.main_link_list_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #1e1e1e;
        button.list_item_btn {
          padding-block: 1.9rem;
          background-color: transparent;
          border: none;
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
          cursor: pointer;
        }
        a.list_item_link {
          padding-block: 1.9rem;
          width: 100%;
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
          cursor: pointer;
        }
        img.chevron_icon {
          transform: rotate(-90deg);
        }
      }
    }

    // MODELS OVERLAY
    .nav_models_overlay {
      background-color: #fff;
      width: 100vw;
      position: fixed;
      overflow-y: scroll;
      height: 100%;
      // display: none;

      button.main_return_btn {
        padding-block: 1.9rem;
        border-top: 1px solid #1e1e1e;
        padding-inline: 2.5rem;
        background-color: #111;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        img.chevron_icon {
          transform: rotate(90deg);
          margin-right: 1rem;
        }
        span {
          color: $color-white;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 1.6rem;
          letter-spacing: 0.55px;
        }
      }

      .models_container {
        padding-block: 3rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 330px;
        place-items: center;
        row-gap: 4.8rem;
        padding-inline: 3rem;
        a.model_card {
          max-width: 330px;
          img.model_card_image {
          }
          .model_content {
            span.car_year {
              font-size: 1.3rem;
              color: #6f6f6f;
              font-family: "Jost-Regular", sans-serif;
              display: block;
            }
            h3.car_model_name {
              font-size: 3.6rem;
              color: #141414;
              font-family: "Jost-Light", sans-serif;
            }
            p.car_model_price {
              margin-top: 0.35rem;
              font-family: "Jost-Regular", sans-serif;
              font-size: 1.6rem;
              color: #141414;
              letter-spacing: 1px;
              span {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 1px;
                  left: 0;
                  right: 0;
                  background-color: #141414;
                  width: 100%;
                  height: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// CLOSE NAV-MOBILE @ >=720px
@media screen and (min-width: 721px) {
  header#header_mobile {
    display: none;
  }
}
