@import "./variables.module.scss";

main#main {
  margin-top: 7rem;

  // SECTION: SHOWCASE
  section#showcase {
    margin-top: 7rem;
    background-color: $color-grey;
    .swiper_container {
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide {
      width: 100%;
      height: 625px;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: grab;

      .swiper_content {
        margin-left: 3rem;
        position: absolute;
        // bottom: 0;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 2;
        padding-inline: 2.5rem;
        padding-block: 3.5rem;
        h2.model_title {
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          color: $color-white;
          font-size: 4.2rem;
        }
        h4.model_caption {
          color: $color-white;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.55px;
        }
      }
    }

    .swiper_container_mobile {
      display: none;
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide_mobile {
      display: none;
    }
  }

  // SECTION: FINANCING
  section#financing {
    margin-block: 8rem;
    .financing_grid {
      margin-inline: auto;
      max-width: 1920px;
      padding-inline: 10rem;
      display: grid;
      align-items: center;
      grid-template-columns: 0.45fr 0.55fr;
      .financing_numbers {
        display: flex;
        column-gap: 4.5rem;
        h6 {
          text-transform: uppercase;
          font-family: "Roboto-Regular", sans-serif;
          color: #cd9a81;
          font-size: 1.1rem;
          letter-spacing: 0.7px;
        }
        p {
          font-family: "Jost-Light", sans-serif;
          font-size: 3.7rem;
          color: $color-white;
          padding-left: 5px;
        }
      }
      .financing_links {
        // border: 1px solid yellow;
        display: flex;
        column-gap: 3rem;
        justify-content: flex-end;
        align-items: center;
        a {
          text-align: center;
          padding: 2rem 4rem;
          font-family: "Roboto-Regular", sans-serif;
          font-size: 1.1rem;
          letter-spacing: 1px;
        }
        a.finance_price {
          color: #141414;
          background-color: $color-white;
        }
        a.finance_offer {
          color: $color-white;
          background-color: #292929;
        }
      }
    }
    p.financing_condition {
      padding-left: 10rem;
      font-size: 1.15rem;
      letter-spacing: 0.55px;
      font-family: "Roboto-Regular", sans-serif;
      color: #6f6f6f;
      margin-top: 3rem;
    }
  }

  // SECTION: BY THE NUMBERS
  section#numbers {
    padding-block: clamp(6rem, 12vw, 12rem);
    background-color: $color-white;
    h2.numbers_title {
      font-family: "Jost-Light", sans-serif;
      font-size: clamp(2.8rem, 5vw, 3.6rem);
      text-transform: uppercase;
      text-align: center;
      color: $color-black;
    }

    .numbers_grid {
      max-width: 1350px;
      margin-inline: auto;
      margin-top: 10.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-inline: clamp(2.5rem, 4.5vw, 10rem);
      h3,
      p {
        color: $color-black;
      }
      h3 {
        font-family: "Jost-Regular", sans-serif;
        font-size: clamp(3.8rem, 5vw, 4.5rem);
        text-align: center;

        sup {
          font-size: 2rem;
        }

        span {
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.55px;
          text-transform: uppercase;
        }
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        color: #6f6f6f;
        font-family: "Roboto-Regular", sans-serif;
        letter-spacing: 0.55px;
      }
      .consumption_box,
      .horsepower_box {
        border-right: 1px solid rgba(112, 112, 112, 0.4);
      }
      .consumption_box,
      .horsepower_box,
      .price_box {
        padding-inline: 1.5rem;
      }
    }
  }

  // SECTION: POWERTRAINS
  section#powertrains {
    background-color: $color-white;
    padding-top: 5rem;
    padding-bottom: clamp(5rem, 9vw, 9rem);

    h2.powertrain_title {
      color: $color-black;
      font-size: clamp(2.4rem, 5vw, 3rem);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      font-family: "Jost-Light", sans-serif;
    }

    .powertrains_container {
      max-width: 1680px;
      margin-inline: auto;
      padding-inline: clamp(2.5rem, 5vw, 12rem);
      overflow-x: hidden;
      .swiper_models_container {
        margin-top: 4.5rem;
        width: 100%;
        height: auto;
        .model_slide {
          width: 100%;
          height: clamp(415px, 5vw, 440px);
          background-color: #f7f7f7;
          padding-top: 3rem;
          cursor: grab;
          .powertrain_image_container {
            width: 100%;
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
          .powertrain_content {
            padding-inline: 2rem;
            padding-bottom: 3rem;
            h4 {
              font-size: 2rem;
              font-family: "Jost-Regular", sans-serif;
              color: $color-black;
            }
            p {
              letter-spacing: 0.65px;
              margin-top: 1.5rem;
              color: #a36b4f;
              font-size: 1.25rem;
              font-family: "Jost-Regular", sans-serif;
              text-transform: uppercase;
            }
            ul {
              margin-left: 1rem;
              margin-top: 1.5rem;
              padding-left: 1rem;
              li {
                list-style-type: disc;
                padding-block: 5px;
                color: #6f6f6f;
                font-size: 1.3rem;
                font-family: "Roboto", sans-serif;
              }
            }
          }
        }
      }
    }
  }

  // SECTION: GALLERY
  section#gallery {
    padding-top: clamp(6rem, 7vw, 7rem);
    padding-bottom: clamp(7rem, 10vw, 10rem);
    background-color: $color-grey;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2.gallery_title {
      font-family: "Jost-Light", sans-serif;
      font-size: clamp(2.4rem, 5vw, 2.8rem);
      color: #cd9a81;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      margin-bottom: 5rem;
    }

    .gallery_grid {
      height: min(100vh, 800px);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .gallery_item_container {
        overflow: hidden;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5) {
          grid-column: span 1;
          grid-row: span 1;

          &:hover ~ .gallery_item_container {
            opacity: 0.3;
          }
        }
        &:nth-child(4) {
          grid-column: 2/5;
          grid-row: 1/3;
        }

        .gallery_item {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    a {
      margin-top: 4.5rem;
      display: inline-block;
      font-size: 1.4rem;
      color: $color-white;
      text-transform: uppercase;
      font-family: "Jost-Light", sans-serif;
      position: relative;
      letter-spacing: 1px;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        background-color: $color-white;
        width: 100%;
        height: 1px;
      }
    }
  }

  // SECTION: DESIGN
  section#design {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-top: 10rem;
    padding-bottom: 12rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: PERFORMANCE
  section#performance {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION:SAFETY
  section#safety {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: TECHNOLOGY
  section#technology {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: GENESIS HOME
  section#genesis_home {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: CHARGING
  section#charging {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: ACCESSORIES
  section#accessories {
    padding-block: 7rem;
    background-color: #111;

    h2.accessories_main_title {
      font-family: "Jost-Light", sans-serif;
      font-size: clamp(2.4rem, 5vw, 2.8rem);
      color: $color-white;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      text-align: center;
    }
    .tab_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;
      padding-block: 6rem;
      .tab_content {
        order: 1;
        h2.accessories_title {
          margin-bottom: 4rem;
          text-transform: uppercase;
          font-family: "Jost-Regular", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-white;
        }

        #accordion_container_desktop {
          .accordion_trigger {
            border: none;
            letter-spacing: 0.35px;
            font-family: "Jost-Regular", sans-serif;
            font-size: 1.45rem;
            text-align: left;
            background-color: transparent;
            color: #bbb;
            width: 100%;
            cursor: pointer;
            padding-bottom: 1rem;
            text-transform: uppercase;

            &[data-state="open"] {
              padding-bottom: 0px;
              color: #c36f51;
            }
          }

          .accordion_content {
            overflow: hidden;
            font-family: "Roboto-Regular", sans-serif;
            color: $color-white;
            padding-top: 1rem;
            margin-bottom: 1.5rem;

            p {
              font-size: 1.4rem;
              margin-bottom: 1.5rem;
              line-height: 1.6;
            }
          }
        }
      }
      .tab_image_box {
        order: 2;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img.accordion_image {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
          &[value="item1"] {
            object-position: left center;
          }
        }
      }
    }
  }

  section#accessories_mobile {
    display: none;
  }

  // SECTION: OWNER
  section#owner {
  }

  // SECTION: UPDATES
  section#updates {
    padding-top: clamp(3rem, 8.5vw, 10rem);
    padding-bottom: clamp(5rem, 6vw, 7rem);
    background-color: $color-grey-body;
    padding-inline: 3rem;

    h2.update_title {
      text-align: center;
      font-family: "Jost-Light", sans-serif;
      font-size: clamp(2.8rem, 5vw, 3.6rem);
      color: #a36b4f;
      text-transform: uppercase;
    }

    form.update_form {
      margin-top: clamp(5.5rem, 9.5vw, 9rem);
      max-width: 800px;
      margin-inline: auto;

      input {
        font-family: "Jost-Regular", sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #999;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #3c3c3c;
        padding-bottom: 7px;

        &[type="email"],
        &[type="number"] {
          display: block;
          width: 100%;
          margin-top: 5.5rem;
        }

        &[type="number"] {
          -moz-appearance: textfield;
        }

        &::placeholder {
          letter-spacing: 0.55px;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .name_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: clamp(2rem, 5vw, 4rem);
      }
    }

    p.form_condition {
      max-width: 800px;
      margin-inline: auto;
      color: #999;
      font-family: "Roboto-Regular", sans-serif;
      font-size: 1.3rem;
      margin-top: 2.5rem;
      line-height: 2rem;
    }

    button.form_button {
      border: none;
      background-color: $color-white;
      padding: 1.5rem 5rem;
      font-family: "Jost-Regular", sans-serif;
      font-size: 1.45rem;
      text-transform: uppercase;
      display: block;
      margin-inline: auto;
      margin-top: 5rem;
      cursor: pointer;
      letter-spacing: 0.55px;
      border-radius: 3px;
    }
  }

  // SECTION: CONCIERGE
  section#concierge {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-top: clamp(5.5rem, 10.5vw, 10rem);
    padding-bottom: clamp(7rem, 10vw, 12rem);
    .concierge_container {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .concierge_content {
        order: 2;
        h3.concierge_title {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.concierge_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
        a {
          font-family: "Jost-Light", sans-serif;
          text-transform: uppercase;
          font-size: 1.4rem;
          color: $color-black;
          display: inline-block;
          margin-top: 2.5rem;
          position: relative;
          letter-spacing: 1.15px;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $color-black;
            bottom: -5px;
            left: 0;
          }
        }
      }
      .concierge_image_box {
        order: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: SHOP
  section#shop {
  }
}

// MEDIA QUERIES - SHOWCASE
@media screen and (max-width: 750px) {
  main#main {
    margin-top: 6rem;
    section#showcase {
      margin-top: 0;
      .swiper_container {
        display: none;
      }
      .swiper_container_mobile {
        display: block;
        .swiper_slide_mobile {
          display: block;
          width: 100%;
          height: 625px;
          position: relative;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;

          .swiper_content {
            padding-inline: 2rem;
            margin-left: 0;
            position: absolute;
            bottom: unset;
            top: 4rem;
            z-index: 2;
            h2.model_title {
              text-transform: uppercase;
              font-family: "Jost-Light", sans-serif;
              color: $color-white;
              font-size: 3.6rem;
            }
            h4.model_caption {
              color: $color-white;
              font-family: "Jost-Light", sans-serif;
              font-size: 1.6rem;
              text-transform: uppercase;
              letter-spacing: 0.55px;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERIES: FINANCING
@media screen and (max-width: 1075px) {
  main#main {
    section#financing {
      .financing_grid {
        grid-template-columns: 1fr;
        place-items: center;
        row-gap: 2.5rem;

        .financing_numbers {
          h6 {
            text-align: center;
          }
          p {
            text-align: center;
            padding-left: 0;
          }
        }
        .financing_links {
        }
      }
      p.financing_condition {
        margin-top: 4rem;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main#main {
    section#financing {
      .financing_grid {
        padding-inline: 3rem;
        place-items: unset;
        .financing_numbers {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          .item_apr,
          .item_mos,
          .item_bonus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.5rem;
          }
          .item_apr,
          .item_mos {
            border-bottom: 1px solid #232323;
          }
          h6 {
            text-align: center;
          }
          p {
            text-align: center;
            padding-left: 0;
            font-size: 2.8rem;
          }
        }
        .financing_links {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: stretch;
          a {
            padding-inline: 0;
            display: block;
            width: 100%;
            margin-top: 1.5rem;
          }
        }
      }
      p.financing_condition {
        margin-top: 4rem;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  main#main {
    section#financing {
      p.financing_condition {
        padding-inline: 3rem;
        text-align: left;
        line-height: 1.5;
      }
    }
  }
}

// MEDIA QUERY - BY THE NUMBER
@media screen and (max-width: 655px) {
  main#main {
    section#numbers {
      .numbers_grid {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
        margin-top: 5rem;
        .consumption_box,
        .horsepower_box {
          border-right: none;
        }
      }
    }
  }
}

// MEDIA QUERY - POWERTRAINS
@media screen and (max-width: 500px) {
  main#main {
    section#powertrains
      .powertrains_container
      .swiper_models_container
      .model_slide {
      max-width: 100%;
    }
  }
}

// MEDIA QUERY - GALLERY
@media screen and (max-width: 1100px) {
  main#main {
    section#gallery {
      .gallery_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .gallery_item_container {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(5) {
            grid-column: span 1;
            grid-row: span 1;
          }
          &:nth-child(4) {
            grid-column: 1/3;
            grid-row: 1/3;
          }
        }
      }
    }
  }
}

// MEDIA QUERY - DESIGN, PERFORMANCE, SAFETY, TECH, HOME, CHARGING
@media screen and (max-width: 1024px) {
  main#main {
    section#design,
    section#performance,
    section#technology,
    section#safety,
    section#genesis_home,
    section#charging {
      padding-inline: clamp(2rem, 5vw, 3.5rem);
      padding-block: 5rem;
      .feature_container_desktop {
        padding-right: 0;
        padding-left: 0;
        grid-template-columns: 1fr;
        row-gap: clamp(3rem, 5vw, 5rem);
        .feature_content {
          h2.main_title {
            margin-bottom: 1rem;
          }
        }
        .feature_image_box {
          min-height: 205px;
          img {
            border-radius: 8.5px;
            min-width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    section#performance,
    section#technology,
    section#charging {
      .feature_container_desktop {
        .feature_image_box {
          order: 1;
        }
        .feature_content {
          order: 2;
        }
      }
    }
    section#design {
      padding-top: 10rem;
    }
  }
}

// ACCESSORIES
@media screen and (max-width: 810px) {
  main#main {
    section#accessories {
      display: none;
    }
    section#accessories_mobile {
      display: block;
      padding-block: clamp(5rem, 9vw, 7rem);

      .tab_container_mobile {
        h2.accessories_title {
          margin-bottom: 1.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          letter-spacing: 0.5px;
          color: $color-white;
          text-align: center;
        }

        #accordion_container_mobile {
          border-bottom: 1px solid rgba(77, 77, 77, 0.25);
          padding-inline: 2.5rem;
          .accordion_trigger {
            padding-block: 2.5rem;
            border: none;
            border-top: 1px solid rgba(77, 77, 77, 0.25);
            letter-spacing: 0.35px;
            font-family: "Jost-Regular", sans-serif;
            font-size: 1.4rem;
            text-align: left;
            background-color: transparent;
            color: #bbb;
            width: 100%;
            cursor: pointer;
            text-transform: uppercase;
            text-align: center;

            &[data-state="open"] {
              padding-bottom: 0px;
              color: #c36f51;
            }
          }

          .accordion_content {
            overflow: hidden;
            color: $color-white;
            padding-top: 1.5rem;
            margin-bottom: 1.5rem;

            p {
              font-family: "Roboto-Regular", sans-serif;
              margin-top: 1rem;
              font-size: 1.45rem;
              margin-bottom: 1.5rem;
              line-height: 1.6;
            }
            img {
              max-width: 100%;
              height: auto;
              border-radius: 5px;
            }
          }

          // .last_item_container {
          //   border-bottom: 1px solid rgba(77, 77, 77, 0.25);
          // }
        }
      }
    }
  }
}

// UPDATES
@media screen and (max-width: 450px) {
  main#main {
    section#updates {
      form.update_form {
        .name_grid {
          grid-template-columns: 1fr;
          row-gap: 5.5rem;
        }
      }
    }
  }
}

// MEDIA QUERY - CONCIERGE
@media screen and (max-width: 1024px) {
  main#main {
    section#concierge {
      padding-inline: clamp(2rem, 5vw, 3.5rem);
      .concierge_container {
        padding-right: 0;
        padding-left: 0;
        grid-template-columns: 1fr;
        row-gap: clamp(3rem, 5vw, 5rem);
        .concierge_image_box {
          min-height: 205px;
          img {
            border-radius: 8.5px;
            min-width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
