@import "./variables.module.scss";

main#main {
  margin-top: 7rem;

  // SECTION: SHOWCASE
  section#showcase {
    // display: none;
    margin-top: 7rem;
    background-color: $color-grey;
    .swiper_container {
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide {
      width: 100%;
      height: 625px;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: grab;

      .swiper_content {
        margin-left: 3rem;
        position: absolute;
        // bottom: 0;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 2;
        padding-inline: 2.5rem;
        padding-block: 3.5rem;
        h2.model_title {
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          color: $color-white;
          font-size: 4.2rem;
        }
        h4.model_caption {
          color: $color-white;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          letter-spacing: 0.55px;
        }
      }
    }

    .swiper_container_mobile {
      display: none;
      overflow: hidden;
      height: 625px;
    }

    .swiper_slide_mobile {
      display: none;
    }
  }

  // SECTION: FINANCING
  section#financing {
    // display: none;
    margin-block: 8rem;
    .financing_grid {
      margin-inline: auto;
      max-width: 1920px;
      padding-inline: 10rem;
      display: grid;
      align-items: center;
      grid-template-columns: 0.45fr 0.55fr;
      .financing_numbers {
        display: flex;
        column-gap: 4.5rem;
        h6 {
          text-transform: uppercase;
          font-family: "Roboto-Regular", sans-serif;
          color: #cd9a81;
          font-size: 1.1rem;
          letter-spacing: 0.7px;
        }
        p {
          font-family: "Jost-Light", sans-serif;
          font-size: 3.7rem;
          color: $color-white;
          padding-left: 5px;
        }
      }
      .financing_links {
        // border: 1px solid yellow;
        display: flex;
        column-gap: 3rem;
        justify-content: flex-end;
        align-items: center;
        a {
          text-align: center;
          padding: 2rem 4rem;
          font-family: "Roboto-Regular", sans-serif;
          font-size: 1.1rem;
          letter-spacing: 1px;
        }
        a.finance_price {
          color: #141414;
          background-color: $color-white;
        }
        a.finance_offer {
          color: $color-white;
          background-color: #292929;
        }
      }
    }
    p.financing_condition {
      padding-left: 10rem;
      font-size: 1.15rem;
      letter-spacing: 0.55px;
      font-family: "Roboto-Regular", sans-serif;
      color: #6f6f6f;
      margin-top: 3rem;
    }
  }

  // SECTION: BY THE NUMBERS
  section#numbers {
    // display: none;
    padding-block: 12rem;
    background-color: $color-white;
    h2.numbers_title {
      font-family: "Jost-Light", sans-serif;
      font-size: 3.6rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-black;
    }

    .numbers_grid {
      max-width: 1350px;
      margin-inline: auto;
      margin-top: 10.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-inline: clamp(2.5rem, 4.5vw, 10rem);
      h3,
      p {
        color: $color-black;
      }
      h3 {
        font-family: "Jost-Regular", sans-serif;
        font-size: clamp(3.8rem, 5vw, 4.5rem);
        text-align: center;

        sup {
          font-size: 2rem;
        }

        span {
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.55px;
          text-transform: uppercase;
        }
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        color: #6f6f6f;
        font-family: "Roboto-Regular", sans-serif;
        letter-spacing: 0.55px;
      }
      .consumption_box,
      .horsepower_box {
        border-right: 1px solid rgba(112, 112, 112, 0.4);
      }
      .consumption_box,
      .horsepower_box,
      .price_box {
        padding-inline: 1.5rem;
      }
    }
  }

  // SECTION: POWERTRAINS
  section#powertrains {
    // display: none;
    background-color: $color-white;
    padding-top: 7rem;
    padding-bottom: 5rem;

    h2.powertrain_title {
      color: $color-black;
      font-size: clamp(2.4rem, 5vw, 3rem);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      font-family: "Jost-Light", sans-serif;
    }

    .powertrains_container {
      max-width: 1680px;
      margin-inline: auto;
      padding-inline: clamp(2.5rem, 5vw, 12rem);
      overflow-x: hidden;
      .swiper_models_container {
        margin-top: 4.5rem;
        width: 100%;
        height: auto;
        .model_slide {
          width: 100%;
          height: clamp(415px, 5vw, 440px);
          background-color: #f7f7f7;
          padding-top: 3rem;
          cursor: grab;
          .powertrain_image_container {
            width: 100%;
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
          .powertrain_content {
            padding-inline: 2rem;
            padding-bottom: 3rem;
            h4 {
              font-size: 2rem;
              font-family: "Jost-Regular", sans-serif;
              color: $color-black;
            }
            p {
              letter-spacing: 0.65px;
              margin-top: 1.5rem;
              color: #a36b4f;
              font-size: 1.25rem;
              font-family: "Jost-Regular", sans-serif;
              text-transform: uppercase;
            }
            ul {
              margin-left: 1rem;
              margin-top: 1.5rem;
              padding-left: 1rem;
              li {
                list-style-type: disc;
                padding-block: 5px;
                color: #6f6f6f;
                font-size: 1.3rem;
                font-family: "Roboto", sans-serif;
              }
            }
          }
        }
      }
    }
  }

  // SECTION: GALLERY
  section#gallery {
  }

  // SECTION: DESIGN
  section#design {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-top: 10rem;
    padding-bottom: 12rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: PERFORMANCE
  section#performance {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION:SAFETY
  section#safety {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.33rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: TECHNOLOGY
  section#technology {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: GENESIS HOME
  section#genesis_home {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 4fr 1fr;
      padding-right: 5.5rem;

      .feature_content {
        order: 2;
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        order: 1;
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: CHARGING
  section#charging {
    margin-inline: auto;
    max-width: 1920px;
    background-color: $color-white;
    padding-block: 8rem;

    .feature_container_desktop {
      display: grid;
      grid-template-columns: 1fr 4fr;
      padding-left: 5.5rem;

      .feature_content {
        h2.main_title {
          margin-bottom: 3.5rem;
          text-transform: uppercase;
          font-family: "Jost-Light", sans-serif;
          font-size: 1.8rem;
          letter-spacing: 0.5px;
          color: $color-black;
        }
        h3.subtitle {
          font-family: "Jost-Light", sans-serif;
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #cd9a81;
          margin-bottom: 1.2rem;
          line-height: 3rem;
        }
        p.content_body {
          font-size: 1.4rem;
          color: $color-grey-body;
          font-family: "Roboto-Regular", sans-serif;
          line-height: 23px;
          letter-spacing: 0px;
        }
      }
      .feature_image_box {
        // width: 100%;
        // height: 450px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        img {
          // max-width: 800px;
          max-width: 80%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // SECTION: ACCESSORIES
  section#accessories {
  }

  // SECTION: OWNER
  section#owner {
  }

  // SECTION: UPDATES
  section#updates {
  }

  // SECTION: CONCIERGE
  section#concierge {
  }

  // SECTION: SHOP
  section#shop {
  }
}

// MEDIA QUERIES - SHOWCASE
@media screen and (max-width: 750px) {
  main#main {
    margin-top: 6rem;
    section#showcase {
      margin-top: 0;
      .swiper_container {
        display: none;
      }
      .swiper_container_mobile {
        display: block;
        .swiper_slide_mobile {
          display: block;
          width: 100%;
          height: 625px;
          position: relative;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;

          .swiper_content {
            padding-inline: 2rem;
            margin-left: 0;
            position: absolute;
            bottom: unset;
            top: 4rem;
            z-index: 2;
            h2.model_title {
              text-transform: uppercase;
              font-family: "Jost-Light", sans-serif;
              color: $color-white;
              font-size: 3.6rem;
            }
            h4.model_caption {
              color: $color-white;
              font-family: "Jost-Light", sans-serif;
              font-size: 1.6rem;
              text-transform: uppercase;
              letter-spacing: 0.55px;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERIES: FINANCING
@media screen and (max-width: 1075px) {
  main#main {
    section#financing {
      .financing_grid {
        grid-template-columns: 1fr;
        place-items: center;
        row-gap: 2.5rem;

        .financing_numbers {
          h6 {
            text-align: center;
          }
          p {
            text-align: center;
            padding-left: 0;
          }
        }
        .financing_links {
        }
      }
      p.financing_condition {
        margin-top: 4rem;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main#main {
    section#financing {
      .financing_grid {
        padding-inline: 3rem;
        place-items: unset;
        .financing_numbers {
          display: grid;
          grid-template-columns: 1fr;
          width: 100%;
          .item_apr,
          .item_mos,
          .item_bonus {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.5rem;
          }
          .item_apr,
          .item_mos {
            border-bottom: 1px solid #232323;
          }
          h6 {
            text-align: center;
          }
          p {
            text-align: center;
            padding-left: 0;
            font-size: 2.8rem;
          }
        }
        .financing_links {
          display: grid;
          grid-template-columns: 1fr;
          justify-content: stretch;
          a {
            padding-inline: 0;
            display: block;
            width: 100%;
            margin-top: 1.5rem;
          }
        }
      }
      p.financing_condition {
        margin-top: 4rem;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  main#main {
    section#financing {
      p.financing_condition {
        padding-inline: 3rem;
        text-align: left;
        line-height: 1.5;
      }
    }
  }
}

// MEDIA QUERY - BY THE NUMBER
@media screen and (max-width: 655px) {
  main#main {
    section#numbers {
      .numbers_grid {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
        margin-top: 5rem;
        .consumption_box,
        .horsepower_box {
          border-right: none;
        }
      }
    }
  }
}

// MEDIA QUERY - POWERTRAINS
@media screen and (max-width: 500px) {
  main#main {
    section#powertrains
      .powertrains_container
      .swiper_models_container
      .model_slide {
      max-width: 100%;
    }
  }
}

// MEDIA QUERY - DESIGN, PERFORMANCE, SAFETY, TECH, HOME, CHARGING
@media screen and (max-width: 1024px) {
  main#main {
    section#design,
    section#performance,
    section#technology,
    section#safety,
    section#genesis_home,
    section#charging {
      padding-inline: clamp(2rem, 5vw, 3.5rem);
      padding-block: 5rem;
      .feature_container_desktop {
        padding-right: 0;
        padding-left: 0;
        grid-template-columns: 1fr;
        row-gap: clamp(3rem, 5vw, 5rem);
        .feature_content {
          h2.main_title {
            margin-bottom: 1rem;
          }
        }
        .feature_image_box {
          min-height: 205px;
          img {
            border-radius: 8.5px;
            min-width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    section#performance,
    section#technology,
    section#charging {
      .feature_container_desktop {
        .feature_image_box {
          order: 1;
        }
        .feature_content {
          order: 2;
        }
      }
    }
    section#design {
      padding-top: 10rem;
    }
  }
}
