@import "./variables.module.scss";

main#main {
  background-color: #fff;
  margin-top: 7rem;

  h2.sitemap_title {
    background-color: #111;
    font-family: "Jost-Light", sans-serif;
    font-size: clamp(2.6rem, 5vw, 3.2rem);
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding-block: 3.5rem;
    text-align: center;
  }

  section {
    max-width: 1500px;
    margin-inline: auto;
    padding-inline: clamp(2.5rem, 7.5vw, 10rem);
    padding-top: 7rem;
    &#models {
      padding-top: 5rem;
    }
    &#retailer {
      padding-bottom: 5rem;
    }
    h3 {
      font-family: "Jost-Light", sans-serif;
      font-size: clamp(2.4rem, 6.5vw, 2.8rem);
      color: #111;
      text-transform: capitalize;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 2.5rem;
      padding-bottom: 5px;
      letter-spacing: -0.05px;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2.5rem;
      column-gap: 2.8rem;
      li {
        a {
          text-transform: capitalize;
          font-family: "Jost-Regular", sans-serif;
          color: #333;
          font-size: 1.65rem;
          letter-spacing: -0.05px;
        }
      }
    }
  }
}

// DEFAULT SECTION SPACING - MOBILE
@media screen and (max-width: 750px) {
  main#main {
    margin-top: 6rem;
  }
}

// ALL SECTIONS
@media screen and (max-width: 610px) {
  main#main section ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 426px) {
  main#main section ul {
    grid-template-columns: 1fr;
  }
}
